In [1]:
%%html
<style>
td {font-size: 20px}
th {font-size: 20px}
</style>



# Uwolnij swoją wewnętrzną pandę!
### ... czyli o optymalnym wykorzystaniu Pandas

![](images/KungFuPanda.jpg)

#    Agenda

## I. Wstęp
## II. Co mi Pan(das)ie dasz?

# O NAS
<br>

- Akcja: zmiana branży
- Różne doświadczenia, ale jedno wspólne: roczny program Data Scientist
- Pierwsze "Hello world w Pythonie" we wrześniu 2018
- Obecnie Data Scientists w Grupie Żywiec
- Na co dzień: Pandas, Sklearn, Matplotlib.. ale też CI/CD, AWS, web scraping etc.

<font color='red'>**DISCLAIMER**</font> W Pythonie działamy od roku, wszystkiego nie wiemy, ale postaramy się odpowiedzieć na Wasze pytania najlepiej jak umiemy :)

# O Pandas
- Wes McKinney, 2008
- Biblioteka OpenSource
- Zastosowania: 
    - Wczytanie danych (wiele źródeł, także z internetu)
    - Filtrowanie danych/ agregacja danych
    - Łączenie tabel
    - Kalkulacje na danych
    - Operacje na datach
    - Operacje statystyczne (analiza, imputacja)
    - Podstawowe wykresy
    - Zapis danych (do wielu źródeł)

# Dlaczego Pandas?
- Bo Excel nie daje rady
- Bo nie masz dostępu do SQL Servera​
- Bo masz dostęp do SQL Servera, ale nie masz uprawnień do tworzenia obiektów w bazie
- Bo pracujesz na plikach – po co tracić czas na zapisywanie ich w bazie danych
- Bo chcesz zrobić coś szybko, a nie wrzucać coś do mysqla czy dbase’a
- Bo prototypujesz – nie chcesz ustawiać środowiska, bazy danych…
- Bo chcesz przetworzyć dane jednorazowo, na szybko

# Znaj serce Pandy - Dataframe
- Podstawowy obiekt, w którym przechowywane są dane
- Dwuwymiarowa tablica (wiersze x kolumny)
- Może przyjmować różne typy danych dla każdej z kolumn
- Odpowiednik tabeli w bazach danych, ale bez triggerów, defaultów itd.

# Co mi Pan(das)ie dasz?

Analizowany zbiór danych

![](images/data_screen.png)

# Przypadek I:
# wczytanie pliku

In [2]:
import pandas as pd
import os

path = os.path.join("data", "bike_demand_pylight.csv")

In [3]:
df = pd.read_csv(path) # a miało być tak pięknie...

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 4

### skip rows

In [4]:
df = pd.read_csv(path,
                 skiprows=2)

In [5]:
df.head(2)

                                                                datetime;season;holiday;workingday;weather;temp;atemp;humidity;windspeed;casual;registered;count
08-01-2011 04:00;winter;0;1;clear_sky;10 66;12 88;93;11                                                  001;0;3;3
18-01-2011 23:00;winter;0;1;few_clouds;9 02;13 635;93;0;1;19;20                                                NaN

### delimiter

In [6]:
df = pd.read_csv(path, 
                 skiprows=2,
                  delimiter=";")

In [7]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,08-01-2011 04:00,winter,0,1,clear_sky,"10,66","12,88",93,"11,001",0,3,3
1,18-01-2011 23:00,winter,0,1,few_clouds,"9,02","13,635",93,0,1,19,20

In [8]:
df.dtypes

datetime      object
season        object
holiday        int64
workingday     int64
weather       object
temp          object
atemp         object
humidity       int64
windspeed     object
casual         int64
registered     int64
count          int64
dtype: object

### decimal

In [9]:
df = pd.read_csv(path, 
                 skiprows=2,
                 delimiter=";",
                 decimal=",")

In [10]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,08-01-2011 04:00,winter,0,1,clear_sky,10.66,12.880,93,11.001,0,3,3
1,18-01-2011 23:00,winter,0,1,few_clouds,9.02,13.635,93,0.000,1,19,20

In [11]:
df.dtypes

datetime       object
season         object
holiday         int64
workingday      int64
weather        object
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

### parse_dates

In [12]:
df = pd.read_csv(path, 
                 skiprows=2,
                 delimiter=";",
                 decimal=",",
                 parse_dates=["datetime"])

df.dtypes[:1]

datetime    datetime64[ns]
dtype: object

In [13]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-08-01 04:00:00,winter,0,1,clear_sky,10.66,12.880,93,11.001,0,3,3
1,2011-01-18 23:00:00,winter,0,1,few_clouds,9.02,13.635,93,0.000,1,19,20

<p> format amerykański MM-DD-YYYY </p>
format europejski DD-MM-YYYY

### dayfirst

In [14]:
df = pd.read_csv(path, 
                 skiprows=2,
                 delimiter=";",
                 decimal=",",
                 parse_dates=["datetime"],
                 dayfirst=True)

In [15]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-08 04:00:00,winter,0,1,clear_sky,10.66,12.880,93,11.001,0,3,3
1,2011-01-18 23:00:00,winter,0,1,few_clouds,9.02,13.635,93,0.000,1,19,20

# Bonus!

### standardowe wczytanie pliku

In [16]:
%%timeit
df = pd.read_csv(path, 
                 skiprows=2,
                 delimiter=";",
                 decimal=",",
                 parse_dates=["datetime"],
                 dayfirst=True)

2.2 s ± 147 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### z użyciem "infer_datetime_format"

In [17]:
%%timeit
df = pd.read_csv(path, 
                 skiprows=2,
                 delimiter=";",
                 decimal=",",
                 parse_dates=["datetime"],
                 dayfirst=True,
                 infer_datetime_format=True)

106 ms ± 2.69 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Przypadek II: 
# optymalizacja typów danych

# Pamięć zajmowana przez dataset

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null object
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null object
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(6), object(2)
memory usage: 1020.7+ KB

# Przykład - zmienna temp

In [19]:
df['temp'].agg(['min', 'max'])

min     0.82
max    41.00
Name: temp, dtype: float64

In [20]:
print('temp z domyślnym typem float64 - ', df['temp'].memory_usage(), ' bajtów')
print('temp rzutowane na float16 - ', df['temp'].astype('float16').memory_usage(), 'bajtów')

temp z domyślnym typem float64 -  87216  bajtów
temp rzutowane na float16 -  21900 bajtów

In [21]:
df['temp'].astype('float16').head()

0    10.656250
1     9.023438
2     9.843750
3     9.023438
4     9.023438
Name: temp, dtype: float16

In [22]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-08 04:00:00,winter,0,1,clear_sky,10.66,12.880,93,11.001,0,3,3
1,2011-01-18 23:00:00,winter,0,1,few_clouds,9.02,13.635,93,0.000,1,19,20

In [23]:
df['holiday'] = df['holiday'].astype('bool')
df['workingday'] = df['workingday'].astype('bool')
df['temp'] = df['temp'].astype('float16')
df['atemp'] = df['atemp'].astype('float16')
df['humidity'] = df['humidity'].astype('float16') # pomimo że w datasecie przyjmuje wartości całkowite lepiej przyjąć na logikę, że może przyjmować wartości dziesiętne
df['windspeed'] = df['windspeed'].astype('float16')
df['casual'] = df['casual'].astype('int16')
df['registered'] = df['registered'].astype('int16')
df['count'] = df['count'].astype('int16')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null object
holiday       10886 non-null bool
workingday    10886 non-null bool
weather       10886 non-null object
temp          10886 non-null float16
atemp         10886 non-null float16
humidity      10886 non-null float16
windspeed     10886 non-null float16
casual        10886 non-null int16
registered    10886 non-null int16
count         10886 non-null int16
dtypes: bool(2), datetime64[ns](1), float16(4), int16(3), object(2)
memory usage: 425.4+ KB

# Category type
* najczęściej stosowany do zmiennych typu object
* stosowany do zmiennych które mają małą liczbę często powtarzających się elementów
* jest typem typowo Pandasowym - nie występuje w builtin
* w praktyce podobny do hash tables (technicznie w dataframe'ie przechowywany jest klucz, który odwołuje się do słownika przechowywanego w definicji zmiennej)

In [25]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-08 04:00:00,winter,False,True,clear_sky,10.656250,12.882812,93.0,11.0,0,3,3
1,2011-01-18 23:00:00,winter,False,True,few_clouds,9.023438,13.632812,93.0,0.0,1,19,20

kandydatami na Category są:
* season
* weather

# Liczba unikalnych elementów w poszczególnych zmiennych

In [26]:
df.nunique()

datetime      10885
season            4
holiday           2
workingday        2
weather           4
temp             49
atemp            60
humidity         89
windspeed        28
casual          309
registered      731
count           822
dtype: int64

# Zmienna season - jaka oszczędność?

In [27]:
print('Season z domyślnym typem object - ', df['season'].memory_usage(), ' bajtów')
print('Season rzutowane na category - ', df['season'].astype('category').memory_usage(), 'bajtów')

Season z domyślnym typem object -  87216  bajtów
Season rzutowane na category -  11206 bajtów

In [28]:
df['season'] = df['season'].astype('category')
df['weather'] = df['weather'].astype('category')

In [29]:
df['season'].head()

0    winter
1    winter
2    winter
3    winter
4    winter
Name: season, dtype: category
Categories (4, object): [fall, spring, summer, winter]

# Nie ma róży bez kolców

In [30]:
(df['season'] + ' ' + df['datetime'].dt.year.astype(str)).head(3)

TypeError: Series cannot perform the operation +

In [31]:
(df['season'].astype('str') + ' ' + df['datetime'].dt.year.astype(str)).head(3)

0    winter 2011
1    winter 2011
2    winter 2011
dtype: object

# Dataframe po wszystkich zmianach typów danych

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null category
holiday       10886 non-null bool
workingday    10886 non-null bool
weather       10886 non-null category
temp          10886 non-null float16
atemp         10886 non-null float16
humidity      10886 non-null float16
windspeed     10886 non-null float16
casual        10886 non-null int16
registered    10886 non-null int16
count         10886 non-null int16
dtypes: bool(2), category(2), datetime64[ns](1), float16(4), int16(3)
memory usage: 276.9 KB

# Bonus
potwierdzenie, że 
* w tabeli zmienna categories jest przechowywana jako integer,
* wspomniany integer odnosi się do kolejnych wystąpień listy z przechowywanymi elementami pola

In [33]:
df['season'].cat.categories

Index(['fall', 'spring', 'summer', 'winter'], dtype='object')

In [34]:
df['season'].cat.codes[:3]

0    3
1    3
2    3
dtype: int8

In [35]:
df['season'][:3]

0    winter
1    winter
2    winter
Name: season, dtype: category
Categories (4, object): [fall, spring, summer, winter]

# Przypadek III: 
# Lame Pandas vs SUPER Pandas

In [36]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-08 04:00:00,winter,False,True,clear_sky,10.656250,12.882812,93.0,11.0,0,3,3
1,2011-01-18 23:00:00,winter,False,True,few_clouds,9.023438,13.632812,93.0,0.0,1,19,20

In [37]:
#df["count"].describe()

### Na dobry początek - funkcja

In [38]:
def nadaj_etykiete(liczba_wypozyczen):
    if liczba_wypozyczen <42:
        etykieta = "low"
    elif 42 <= liczba_wypozyczen < 145: 
        etykieta = "medium"
    elif 145 <= liczba_wypozyczen < 284:
        etykieta = "high"
    elif liczba_wypozyczen >= 284:
        etykieta = "peak"
    else:
        raise ValueError("Invalid value")
    return etykieta

# Lame Pandas

### pętla for

In [39]:
%%timeit

for i in range(len(df)):
    ilosc_wypozyczen = df.loc[i, "count"]
    etykieta = nadaj_etykiete(ilosc_wypozyczen)
    df.loc[i, "etykieta"] = etykieta

15.4 s ± 987 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

![](images/for_loop.png)

### iterrows()

In [40]:
%%timeit
for ix, row in df.iterrows():
    ilosc_wypozyczen = row["count"]
    etykieta = nadaj_etykiete(ilosc_wypozyczen)
    row["etykieta"] = etykieta

2.32 s ± 87.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

![](images/iterrows.png)

# SUPER PANDA APPROACH

### apply()

In [41]:
%%timeit 
df["etykieta"] = df["count"].apply(nadaj_etykiete)

7.46 ms ± 1.26 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

![](images/apply.png)

### operacje zwektoryzowane, na przykład cut()

In [42]:
%%timeit
df["etykieta"] = pd.cut(df["count"], 
                        bins = [0,42,145,284,977], 
                        include_lowest=True, 
                        labels=["low", "medium", "high", "peak"])

4.35 ms ± 121 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

![](images/vect.png)

## Operacje zwektoryzowane
 - operacje wykonywane na całym array'u (a nie pojedynczych wartościach)
 - Pandas oferuje całą gamę operacji zwektoryzowanych 
     - funkcje matematyczne
     - funkcje agregujące
     - operacje na stringach

# <center> od ~15 s do ~4 ms </center>

![](images/comparison_1st.png)

![](images/comparison_2.png)

# PRZYPADEK IV:
# W jaki sposób Pandas łączy liczbę i DataFrame'a?

In [43]:
df['temp'].head(5)

0    10.656250
1     9.023438
2     9.843750
3     9.023438
4     9.023438
Name: temp, dtype: float16

In [44]:
# zamienmy temperaturę na stopnie Farenheita - zadziała?
df['temp'].head(5) * 1.8 + 32

0    51.18750
1    48.25000
2    49.71875
3    48.25000
4    48.25000
Name: temp, dtype: float16

![test](images/ctof1of2.png)

![test](images/ctof2of2.png)

# Broadcasting
* w praktyce "odziedziczone" po bibliotece Numpy
* umożliwia wykonywanie zwektoryzowanych operacji matematycznych
* ma zastosowanie przy wykonywaniu operacji pomiędzy DataFrame'm i skalarem (wartością) albo Dataframe'ami o różnych rozmiarach
* celem jest doprowadzenie obu stron operacji matematycznej do macierzy tych samych rozmiarów i wykonanie operacji matematycznej między tymi macierzami

# Zalety Broadcastingu
* operacje matematyczne wykonywane są na macierzach
* nie wpływa na zużycie pamięci RAM
* umożliwia wymnażanie macierzy przez 
    * skalar (wartość), 
    * wektor (ciąg liczb) 
    * inną macierz

# PRZYPADEK V:
# Łączenie zbiorów danych

## concat

* działa jak Union All w SQL - czyli łączy zbiory z powtórzeniami
* ale **może też łączyć zbiory wg kolumn**, nie tylko wg wierszy

In [45]:
df1 = df[df['datetime'].dt.day==1]
df2 = df[df['datetime'].dt.day==11]

### dataframe 1 - wypożyczenia z pierwszego dnia miesiąca

In [46]:
df1.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,etykieta
2,2011-01-01 00:00:00,winter,False,False,clear_sky,9.843750,14.398438,81.0,0.0,3,13,16,low
3,2011-01-01 01:00:00,winter,False,False,clear_sky,9.023438,13.632812,80.0,0.0,8,32,40,low

### dataframe 2 - wypożyczenia z jedenastego dnia miesiąca

In [47]:
df2.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,etykieta
235,2011-01-11 00:00:00,winter,False,True,clear_sky,5.738281,8.335938,59.0,7.003906,2,10,12,low
236,2011-01-11 01:00:00,winter,False,True,clear_sky,5.738281,7.574219,59.0,11.000000,0,3,3,low

In [48]:
pd.concat([df1, df2], axis=0).head(5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,etykieta
2,2011-01-01 00:00:00,winter,False,False,clear_sky,9.843750,14.398438,81.0,0.0,3,13,16,low
3,2011-01-01 01:00:00,winter,False,False,clear_sky,9.023438,13.632812,80.0,0.0,8,32,40,low
4,2011-01-01 02:00:00,winter,False,False,clear_sky,9.023438,13.632812,80.0,0.0,5,27,32,low
5,2011-01-01 03:00:00,winter,False,False,clear_sky,9.843750,14.398438,75.0,0.0,3,10,13,low
6,2011-01-01 04:00:00,winter,False,False,clear_sky,9.843750,14.398438,75.0,0.0,0,1,1,low

![](images/merging_concat_basic.png)

# Merge
* działa jak Join w SQL
* może łączyć zbiory wg klucza złożonego (wiele kolumn)
* nie obsługuje nonequjoin (czyli innych rodzajów połączeń zbiorów niż połączenie znakiem równości - thetajoin)

In [49]:
slownik_por_roku = pd.DataFrame({
    'season' : ['winter', 'spring', 'summer', 'fall'],
    'months' : ['gru-lut', 'mar-maj', 'cze-sie', 'wrz-lis']
})
slownik_por_roku

   season   months
0  winter  gru-lut
1  spring  mar-maj
2  summer  cze-sie
3    fall  wrz-lis

In [50]:
df.merge(slownik_por_roku, how='left', on='season').head(5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,etykieta,months
0,2011-01-08 04:00:00,winter,False,True,clear_sky,10.656250,12.882812,93.0,11.0,0,3,3,low,gru-lut
1,2011-01-18 23:00:00,winter,False,True,few_clouds,9.023438,13.632812,93.0,0.0,1,19,20,low,gru-lut
2,2011-01-01 00:00:00,winter,False,False,clear_sky,9.843750,14.398438,81.0,0.0,3,13,16,low,gru-lut
3,2011-01-01 01:00:00,winter,False,False,clear_sky,9.023438,13.632812,80.0,0.0,8,32,40,low,gru-lut
4,2011-01-01 02:00:00,winter,False,False,clear_sky,9.023438,13.632812,80.0,0.0,5,27,32,low,gru-lut

* merge obsługuje różne rodzaje złączeń (atrybut ```how```)
* merge obsługuje złączenia po różnych nazwach pól (atrybuty ```left_on``` i ```right_on```)
* atrybut ```indicator``` pokazuje wynik złączenia (both - w obu dataframach, ```left_only``` albo ```right_only```)

![](images/merging_merge_on_key_left.png)

# PODSUMOWANIE
- pd.read_csv() ma wiele opcji! skorzystaj z nich
- pamiętaj o ustawieniu odpowiedniego formatu daty
- odpowiednia konwersja typów danych może w znacznym stopniu przyspieszyć pracę na danych
- używaj operacji zwektoryzowanych (korzystaj z broadcastingu)
- warto pytać i prosić o pomoc - wszyscy kiedyś byliśmy newbisami! :)

![](images/learning-a-new-programming-language-mountain.jpg)

## Zajrzyjcie tu:
- https://pandas.pydata.org/
- https://www.kaggle.com/
- https://www.datacamp.com/community/podcast
- Książka: - "Python for Data Analysis" by Wes McKinney

![](images/book.jpg)

# DZIĘKUJEMY!

### Michał Gromiec: michal.gromiec@gmail.com
### Olga Wilkowska: ol.wilkowska@gmail.com 

### Ten notebook i materiały znajdziecie na naszych repo:

https://github.com/OlgaWilkowska/pylight_pandas

https://github.com/michalgromiec/pylight_pandas